<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.compubac.spacelearning">

    <application
        android:allowBackup="true"
        android:icon="@drawable/wbg_tierra"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpaceLearning">
        <activity android:name=".InfoActivity"></activity>
        <activity android:name=".PEActivity" />
        <activity android:name=".CPActivity" />
        <activity android:name=".NeptuneActivity" />
        <activity android:name=".UranusActivity" />
        <activity android:name=".SaturnActivity" />
        <activity android:name=".MarsActivity" />
        <activity android:name=".VenusActivity" />
        <activity android:name=".MoonActivity" />
        <activity android:name=".JupiterActivity" />
        <activity android:name=".TerraActivity" />
        <activity android:name=".MercuryActivity" />
        <activity android:name=".SunActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>